<p>Hello {{email}},</p>
<p>You have been invited to join BookLnk. Click the link below to accept the invitation:</p>
<p><a href="{{acceptUrl}}">Accept Invitation</a></p>
<p>This link will expire in 24 hours.</p>
<p>If you did not invite you, please ignore this email.</p>
<p>Best regards,<br/>BookLnk Team</p>